USE [Test]
GO
/****** Object:  Table [dbo].[ChiTietDichVu]    Script Date: 8/31/2024 9:14:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDichVu](
	[MaPhong] [varchar](10) NOT NULL,
	[MaDichVu] [varchar](10) NOT NULL,
	[SoLuong] [int] NULL,
	[TongTien] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC,
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPTDichVu]    Script Date: 8/31/2024 9:14:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPTDichVu](
	[MaDichVu] [varchar](10) NOT NULL,
	[MaPT] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDichVu] ASC,
	[MaPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangNhap]    Script Date: 8/31/2024 9:14:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangNhap](
	[ID] [varchar](10) NOT NULL,
	[PassWord] [varchar](10) NULL,
	[MaKhuVuc] [varchar](10) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 8/31/2024 9:14:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[MaDichVu] [varchar](10) NOT NULL,
	[TenDichVu] [varchar](50) NULL,
	[DonGia] [float] NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeedBack]    Script Date: 8/31/2024 9:14:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedBack](
	[MaFB] [varchar](10) NOT NULL,
	[MaPhong] [varchar](10) NULL,
	[MoTa] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaFB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuVuc]    Script Date: 8/31/2024 9:14:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuVuc](
	[MaKhuVuc] [varchar](10) NOT NULL,
	[TenKhuVuc] [varchar](50) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhuVuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 8/31/2024 9:14:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[MaLoaiPhong] [varchar](10) NOT NULL,
	[TenLoaiPhong] [varchar](50) NULL,
	[DienTichPhong] [float] NULL,
	[DonGia] [float] NULL,
	[GhiChu] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuThu]    Script Date: 8/31/2024 9:14:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuThu](
	[MaPT] [varchar](10) NOT NULL,
	[MaPhong] [varchar](10) NULL,
	[NgayLap] [date] NULL,
	[NgayThu] [date] NULL,
	[TienNha] [float] NULL,
	[SkDien] [float] NULL,
	[TienDien] [float] NULL,
	[SkNuoc] [float] NULL,
	[TienNuoc] [float] NULL,
	[TongTien] [float] NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 8/31/2024 9:14:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[MaPhong] [varchar](10) NOT NULL,
	[MaLoaiPhong] [varchar](10) NULL,
	[MaKhuVuc] [varchar](10) NULL,
	[TenPhong] [varchar](10) NULL,
	[Day] [int] NULL,
	[TrangThai] [bit] NULL,
	[GhiChu] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongTinKhach]    Script Date: 8/31/2024 9:14:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinKhach](
	[MaKhachTro] [varchar](10) NOT NULL,
	[HoTen] [varchar](30) NULL,
	[GioiTinh] [varchar](5) NULL,
	[AnhNhanDien] [varchar](10) NULL,
	[NgaySinh] [date] NULL,
	[CCCD] [varchar](12) NULL,
	[Phone] [varchar](12) NULL,
	[QueQuan] [varchar](10) NULL,
	[ChuKy] [varchar](10) NULL,
	[MaPhong] [varchar](10) NULL,
	[TrangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TraPhong]    Script Date: 8/31/2024 9:14:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TraPhong](
	[ID] [varchar](10) NOT NULL,
	[MaKhachTro] [varchar](10) NULL,
	[MaPhong] [varchar](10) NULL,
	[NgayThue] [date] NULL,
	[NgayTra] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPhong]    Script Date: 8/31/2024 9:14:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPhong](
	[ID] [varchar](10) NOT NULL,
	[MatKhau] [varchar](20) NULL,
	[MaPhong] [varchar](10) NULL,
	[TrangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietDichVu] ([MaPhong], [MaDichVu], [SoLuong], [TongTien]) VALUES (N'P001', N'DV01', 1, 200000)
INSERT [dbo].[ChiTietDichVu] ([MaPhong], [MaDichVu], [SoLuong], [TongTien]) VALUES (N'P002', N'DV02', 2, 200000)
GO
INSERT [dbo].[ChiTietPTDichVu] ([MaDichVu], [MaPT]) VALUES (N'DV01', N'PT001')
INSERT [dbo].[ChiTietPTDichVu] ([MaDichVu], [MaPT]) VALUES (N'DV02', N'PT002')
GO
INSERT [dbo].[DangNhap] ([ID], [PassWord], [MaKhuVuc], [TrangThai]) VALUES (N'user1', N'password1', N'KV01', 1)
INSERT [dbo].[DangNhap] ([ID], [PassWord], [MaKhuVuc], [TrangThai]) VALUES (N'user2', N'password2', N'KV02', 0)
INSERT [dbo].[DangNhap] ([ID], [PassWord], [MaKhuVuc], [TrangThai]) VALUES (N'user3', N'password3', N'KV03', 1)
GO
INSERT [dbo].[DichVu] ([MaDichVu], [TenDichVu], [DonGia], [TrangThai]) VALUES (N'DV01', N'Dich vu Internet', 200000, 1)
INSERT [dbo].[DichVu] ([MaDichVu], [TenDichVu], [DonGia], [TrangThai]) VALUES (N'DV02', N'Dich vu giat ui', 100000, 1)
INSERT [dbo].[DichVu] ([MaDichVu], [TenDichVu], [DonGia], [TrangThai]) VALUES (N'DV03', N'Dich vu ve sinh', 150000, 0)
GO
INSERT [dbo].[FeedBack] ([MaFB], [MaPhong], [MoTa]) VALUES (N'FB001', N'P001', N'Phong sach se, an toan')
INSERT [dbo].[FeedBack] ([MaFB], [MaPhong], [MoTa]) VALUES (N'FB002', N'P002', N'Phong dep nhung wifi yeu')
GO
INSERT [dbo].[KhuVuc] ([MaKhuVuc], [TenKhuVuc], [TrangThai]) VALUES (N'KV01', N'Khu A', 1)
INSERT [dbo].[KhuVuc] ([MaKhuVuc], [TenKhuVuc], [TrangThai]) VALUES (N'KV02', N'Khu B', 1)
INSERT [dbo].[KhuVuc] ([MaKhuVuc], [TenKhuVuc], [TrangThai]) VALUES (N'KV03', N'Khu C', 0)
GO
INSERT [dbo].[LoaiPhong] ([MaLoaiPhong], [TenLoaiPhong], [DienTichPhong], [DonGia], [GhiChu]) VALUES (N'LP01', N'Phong Don', 20.5, 1000000, N'Phong cho 1 nguoi')
INSERT [dbo].[LoaiPhong] ([MaLoaiPhong], [TenLoaiPhong], [DienTichPhong], [DonGia], [GhiChu]) VALUES (N'LP02', N'Phong Doi', 30, 1500000, N'Phong cho 2 nguoi')
INSERT [dbo].[LoaiPhong] ([MaLoaiPhong], [TenLoaiPhong], [DienTichPhong], [DonGia], [GhiChu]) VALUES (N'LP03', N'Phong Gia Dinh', 50, 2500000, N'Phong cho gia dinh')
GO
INSERT [dbo].[PhieuThu] ([MaPT], [MaPhong], [NgayLap], [NgayThu], [TienNha], [SkDien], [TienDien], [SkNuoc], [TienNuoc], [TongTien], [TrangThai]) VALUES (N'PT001', N'P001', CAST(N'2024-08-01' AS Date), CAST(N'2024-08-10' AS Date), 1000000, 50, 100000, 30, 50000, 1150000, 1)
INSERT [dbo].[PhieuThu] ([MaPT], [MaPhong], [NgayLap], [NgayThu], [TienNha], [SkDien], [TienDien], [SkNuoc], [TienNuoc], [TongTien], [TrangThai]) VALUES (N'PT002', N'P002', CAST(N'2024-08-02' AS Date), CAST(N'2024-08-11' AS Date), 1500000, 60, 120000, 40, 60000, 1680000, 1)
GO
INSERT [dbo].[Phong] ([MaPhong], [MaLoaiPhong], [MaKhuVuc], [TenPhong], [Day], [TrangThai], [GhiChu]) VALUES (N'P001', N'LP01', N'KV01', N'Phong 101', 1, 1, N'Phong view dep')
INSERT [dbo].[Phong] ([MaPhong], [MaLoaiPhong], [MaKhuVuc], [TenPhong], [Day], [TrangThai], [GhiChu]) VALUES (N'P002', N'LP02', N'KV01', N'Phong 102', 1, 1, N'Phong rong rai')
INSERT [dbo].[Phong] ([MaPhong], [MaLoaiPhong], [MaKhuVuc], [TenPhong], [Day], [TrangThai], [GhiChu]) VALUES (N'P003', N'LP03', N'KV02', N'Phong 201', 2, 0, N'Phong co bep')
GO
INSERT [dbo].[ThongTinKhach] ([MaKhachTro], [HoTen], [GioiTinh], [AnhNhanDien], [NgaySinh], [CCCD], [Phone], [QueQuan], [ChuKy], [MaPhong], [TrangThai]) VALUES (N'KH001', N'Nguyen Van A', N'Nam', N'a.jpg', CAST(N'1990-05-10' AS Date), N'123456789012', N'0123456789', N'Ha Noi', N'chuKy1.png', N'P001', 1)
INSERT [dbo].[ThongTinKhach] ([MaKhachTro], [HoTen], [GioiTinh], [AnhNhanDien], [NgaySinh], [CCCD], [Phone], [QueQuan], [ChuKy], [MaPhong], [TrangThai]) VALUES (N'KH002', N'Tran Thi B', N'Nu', N'b.jpg', CAST(N'1992-07-15' AS Date), N'987654321098', N'0987654321', N'Hai Phong', N'chuKy2.png', N'P002', 1)
GO
INSERT [dbo].[TraPhong] ([ID], [MaKhachTro], [MaPhong], [NgayThue], [NgayTra]) VALUES (N'TP001', N'KH001', N'P001', CAST(N'2024-07-01' AS Date), CAST(N'2024-08-01' AS Date))
INSERT [dbo].[TraPhong] ([ID], [MaKhachTro], [MaPhong], [NgayThue], [NgayTra]) VALUES (N'TP002', N'KH002', N'P002', CAST(N'2024-07-15' AS Date), CAST(N'2024-08-15' AS Date))
GO
INSERT [dbo].[UserPhong] ([ID], [MatKhau], [MaPhong], [TrangThai]) VALUES (N'UP001', N'userpass1', N'P001', 1)
INSERT [dbo].[UserPhong] ([ID], [MatKhau], [MaPhong], [TrangThai]) VALUES (N'UP002', N'userpass2', N'P002', 0)
GO
ALTER TABLE [dbo].[ChiTietDichVu]  WITH CHECK ADD  CONSTRAINT [fk_ChiTietDichVu_DichVu] FOREIGN KEY([MaDichVu])
REFERENCES [dbo].[DichVu] ([MaDichVu])
GO
ALTER TABLE [dbo].[ChiTietDichVu] CHECK CONSTRAINT [fk_ChiTietDichVu_DichVu]
GO
ALTER TABLE [dbo].[ChiTietDichVu]  WITH CHECK ADD  CONSTRAINT [fk_ChiTietDichVu_Phong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[ChiTietDichVu] CHECK CONSTRAINT [fk_ChiTietDichVu_Phong]
GO
ALTER TABLE [dbo].[ChiTietPTDichVu]  WITH CHECK ADD  CONSTRAINT [fk_ChiTietPTDichVu_DichVu] FOREIGN KEY([MaDichVu])
REFERENCES [dbo].[DichVu] ([MaDichVu])
GO
ALTER TABLE [dbo].[ChiTietPTDichVu] CHECK CONSTRAINT [fk_ChiTietPTDichVu_DichVu]
GO
ALTER TABLE [dbo].[ChiTietPTDichVu]  WITH CHECK ADD  CONSTRAINT [fk_ChiTietPTDichVu_PhieuThu] FOREIGN KEY([MaPT])
REFERENCES [dbo].[PhieuThu] ([MaPT])
GO
ALTER TABLE [dbo].[ChiTietPTDichVu] CHECK CONSTRAINT [fk_ChiTietPTDichVu_PhieuThu]
GO
ALTER TABLE [dbo].[DangNhap]  WITH CHECK ADD  CONSTRAINT [fk_DangNhap_KhuVuc] FOREIGN KEY([MaKhuVuc])
REFERENCES [dbo].[KhuVuc] ([MaKhuVuc])
GO
ALTER TABLE [dbo].[DangNhap] CHECK CONSTRAINT [fk_DangNhap_KhuVuc]
GO
ALTER TABLE [dbo].[FeedBack]  WITH CHECK ADD  CONSTRAINT [fk_FeedBack_Phong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[FeedBack] CHECK CONSTRAINT [fk_FeedBack_Phong]
GO
ALTER TABLE [dbo].[PhieuThu]  WITH CHECK ADD  CONSTRAINT [fk_PhieuThu_Phong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[PhieuThu] CHECK CONSTRAINT [fk_PhieuThu_Phong]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [fk_Phong_KhuVuc] FOREIGN KEY([MaKhuVuc])
REFERENCES [dbo].[KhuVuc] ([MaKhuVuc])
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [fk_Phong_KhuVuc]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [fk_Phong_LoaiPhong] FOREIGN KEY([MaLoaiPhong])
REFERENCES [dbo].[LoaiPhong] ([MaLoaiPhong])
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [fk_Phong_LoaiPhong]
GO
ALTER TABLE [dbo].[ThongTinKhach]  WITH CHECK ADD  CONSTRAINT [fk_ThongTinKhach_Phong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[ThongTinKhach] CHECK CONSTRAINT [fk_ThongTinKhach_Phong]
GO
ALTER TABLE [dbo].[TraPhong]  WITH CHECK ADD  CONSTRAINT [fk_TraPhong_Phong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[TraPhong] CHECK CONSTRAINT [fk_TraPhong_Phong]
GO
ALTER TABLE [dbo].[TraPhong]  WITH CHECK ADD  CONSTRAINT [fk_TraPhong_ThongTinKhach] FOREIGN KEY([MaKhachTro])
REFERENCES [dbo].[ThongTinKhach] ([MaKhachTro])
GO
ALTER TABLE [dbo].[TraPhong] CHECK CONSTRAINT [fk_TraPhong_ThongTinKhach]
GO
ALTER TABLE [dbo].[UserPhong]  WITH CHECK ADD  CONSTRAINT [fk_UserPhong_Phong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[UserPhong] CHECK CONSTRAINT [fk_UserPhong_Phong]
GO
